:root{
  
  --black-color: #121212;
  --white-color:#fff;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}
*{
  margin:0;
}
html,body{
  
  height: 100%;
}
body{
  font-family: 'Inter;',sans-serif  ;
  background-color: white;
  line-height: 1.5;
  color:var(--black-color);
  overflow-x: hidden;
  
}
.slick-prev:before,
.slick-next:before
{

    color: black !important;

}
.productCard_title__Ralsj{
  color: #121212 !important;
}